.navbar {
  background-image: url("../images/background-black.png"); /* photo needs updating */
  background-repeat: repeat;
}

.navbar a {
  color: white;
}

a,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
  color: #96d673;
}
