/* Base Styles */

a,
a:hover,
a:focus {
  text-decoration: none;
  color: #96d673;
}

.btn {
  background-color: #0399ff;
}

/* Main Navigation */
.navbar {
  background-image: url("../images/background-black.png");
  background-repeat: repeat;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.nav-link {
  color: white !important;
}
.navbar button {
  border-color: white !important;
}

.navbar a {
  color: white;
}

/* Updating the Style of Active Nav-Pill Items */
.nav-pills .nav-item .nav-link.active {
  background-color: #0399ff;
  border-color: #0d6efd;
}

/* Updating the style of the Inactive Nav-Pill Items */


/* Centering Cards On XS Screens - Bootstrap Doesn't Have XS Class */
.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

/* Achievement Badges */
.checkmark {
  margin-right: 9px;
}

.checkmark-text {
  display: flex;
}
