/* Base Styles */

a,
a:hover,
a:focus {
  text-decoration: none;
  color: #96d673;
}

.btn {
  background-color: #0399ff;
}

/* Main Navigation */
.navbar {
  background-image: url("../images/background-black.png");
  background-repeat: repeat;
}

.navbar a {
  color: white;
}

/* Achievement Badges */
.checkmark {
  margin-right: 9px;
}

.checkmark-text {
  display: flex;
}
